/* General */
* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

    /* Father */
    .container_father {
        border: 1px solid #000;
        display: flex;
        background:#FFD523;
        flex-flow: column nowrap;
    }

        /* Encabezado */

        .container_head {
            display: flex;
            background: #2C2E43   ;
            border: 2px solid #000;
            flex-flow: column nowrap;
            height: 300px;
        }
            .container_headerup {
                background-color: white;
                display: flex;
                flex-flow: row nowrap;
            }
                .container_headerleft {
                    background-color: white;
                    display: flex;
                    flex-flow: row-reverse;

                    }
                        .img_header1 {
                            height : 90px;
                            width : 90px;
                        }
                        .img_header2 {
                            border: 2px ;
                            height : 80px;
                            width : 80px;
                        }
                        .img_header3 {
                            border: 2px ;
                            height : 90px;
                            width : 90px;
                        }
            .container_headerdown {
                display: flex;
                flex-flow: nowrap;
                font-size: 3.125rem;
                justify-content: center;

                }
        
        /* H1 */

        /* Items principal */

    .container_leftbody {
        background: #595260;
        border: 2px solid #000;
    }
        .container_1 {
            background: #B2B1B9 ;
            border: 2px solid #000;
        }
            .imagen1 {
                border: 2px solid #000;
            }
        .container_2 {
            background: #B2B1B9 ;
            border: 2px solid #000;
        }
            .imagen2 {
                border: 2px solid #000;
            }
        .container_3 {
            background: #B2B1B9 ;
            border: 2px solid #000;
            }
            .imagen3 {
                border: 2px solid #000;
            }
        .container_4 {
            background: #B2B1B9 ;
            border: 2px solid #000;
        }
            .imagen4 {
                border: 2px solid #000;
            }
        .container_5 {
            background: #B2B1B9 ;
            border: 2px solid #000;
        }
            .imagen5 {
                border: 2px solid #000;
            }
        .container_6 {
            background: #B2B1B9 ;
            border: 2px solid #000;
            }
            .imagen6 {
                border: 2px solid #000;
            }